body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fbf9e9;
    font-family: 'Kaisei Decol', serif;
}

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
} */

.custom-cursor {
    display: none;
    cursor: url(img/ashiato.png), auto;
  }





.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:50px auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
    border-radius: 5%;
    max-width :250px;
}

.slider .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .2s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
    border-radius: 5%;
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:0;
    left: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#999;
    /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    left: 0;
}


/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width:100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: center; 
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	left: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #666;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.faq_group{
    max-width: 600px;
    margin: 0 auto;
  }
 
  .faq_group h2 {
    font-size: 25px;
    color: #131957;
    text-align: center;
    padding-bottom: 60px;
  }



  .question {
    margin-bottom: 20px;
   
  }
  
  .question h3 {
    font-size: 24px;
    margin-bottom: 10px;
    cursor: pointer;
    border: #999 1px solid;
    padding: 10px;
    border-radius: 5px;
  }
  
  .answer {
    display: none;
    margin-left: 20px;
    padding: 10px;
    border-left: 3px solid #ccc;
  }
  
  .answer p {
    margin-bottom: 0;
    font-size: 24px;
  }
  
  .question.active .answer {
    display: block;
  }
  

  .about {
    text-align: center;
    margin: 200px auto;
    line-height: 2;
  }

  .content h2 {
    font-size: 25px;
    padding-bottom: 30px;
  }
/* 
.header-logo {
    height: 80px;
}

span {
    color: red;
}

.custom-cursor {
    display: none;
    cursor: url(img/ashiato.png), auto;
  } */

/* .block1 {
    height: 600px;
    display: flex;


}

.block2 {
    background-color: #e7bfbf;
    height: 200px;
    width: 200px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/* .block3 {
  display: flex;
  justify-content: center;
  height: 50%;
  background-color: #82bae7;
}

.block2 img{
    display: flex;
    width: 80%;
}

.block4 {
    background-color: #342c86;
}

.block5 {
    background-color: #e35eb9;
} */


#footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}   
.content2 {
    text-align: center;
    background-color: #fff;
    font-family: serif;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

/* .button {
    background-color: #f8f6c5;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.button:hover {
    background-color: #f6e7b9;
  } */
  
.tab {
    display: flex;
    flex-wrap: wrap;
}

.tab li a {
    display: block;
    background: #ddd;
    margin: 0 2px;
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}

.tab li.active a{
    background: #fff;
}

.area {
    display: none;
    opacity:0;
    background: #fff;
    padding: 50px 20px;
}

.area.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

@keyframes displayAnime{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.box {
   width: 600px;
   margin-left: 300px;

}
.area li {
    list-style-type:square ;
}

.tab li a{
    text-decoration: none;
    color: #000;
    display: block;
}

.area h2 {
    font-size: 20px;
    padding-bottom: 20px;
}

.area ul {
    margin-left: 40px;
    line-height: 2;
}